
<body>
    <form (submit)="onSubmit()">
        <div>
            <label for="username">Your desired username:</label>
            <input type="text" id="username" [(ngModel)]="model.username" name="username">
        </div>

        <div>
            <label for="password">Your desired password:</label>
            <input type="password" id="password" [(ngModel)]="model.password" name="password">
        </div>

        <div>
            <label for="fullname">Your full name:</label>
            <input type="text" id="fullname" [(ngModel)]="model.fullname" name="fullname">
        </div>

        <div>
            <label for="street">Your street address:</label>
            <input type="text" id="street" [(ngModel)]="model.street" name="street">
        </div>

        <div>
            <label for="city">Your city:</label>
            <input type="text" id="city" [(ngModel)]="model.city" name="city">
        </div>

        <div>
            <label for="state">Your state:</label>
            <input type="text" id="state" [(ngModel)]="model.state" name="state">
        </div>

        <div>
            <label for="zip">Your zip:</label>
            <input type="text" id="zip" [(ngModel)]="model.zip" name="zip">
        </div>

        <div>
            <label for="phone">Your phone number:</label>
            <input type="text" id="phone" [(ngModel)]="model.phone" name="phone">
        </div>

        <button type="submit">Register</button>

    </form>
</body>