<body>
  <div class="login-container">
    <form (ngSubmit)="login()">
      <label for="username">Username:</label><br>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" required><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" required><br>
      <input type="submit" value="Login">
    </form>
    <p *ngIf="loginError" class="error-message">{{ loginError }}</p>
  </div>
</body>